{
  "extends": ["eslint-config-asjas/node-typescript"],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "tsconfig.json"
  },
  "rules": {
    "node/no-unpublished-import": [
      "error",
      {
        "allowModules": ["tap", "./generated/client-atlas"]
      }
    ],
    "node/no-extraneous-import": ["error", { "allowModules": ["env-schema"] }],
    "@typescript-eslint/no-floating-promises": 0
  }
}
