PORT=3000
NODE_ENV="development"
LOG_LEVEL="info"
PRETTY_PRINT=true
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
FASTIFY_DB_USER=""
FASTIFY_DB_PASS=""
FASTIFY_PORT=3001
FASTIFY_DB=""
MELLINS_DB_HOST=""
MELLINS_DB_USER=""
MELLINS_DB_PASS=""
MELLINS_DB=""
REDIS_HOST=127.0.0.1
REDIS_PORT=3002
REDIS_AUTH=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_PRIVATE_CHANNEL_ID=""
TELEGRAM_APP_ID=1234567
TELEGRAM_APP_HASH=""
ATLAS_HTTP_URL="http://10.1.1.249:8081"
ATLAS_HTTP_ENDPOINT="/rest?account=ATLAS&subroutine=AT_WS_HANDLER"
ATLAS_AUTH_TOKEN=""
FRESHDESK_HTTP_URL="https://pienaarpartners.freshdesk.com/"
FRESHDESK_TICKET_ENDPOINT="/api/v2/tickets"
FRESHDESK_AUTH_TOKEN=""
